
<div class="footer_main">
	<div class="boxes">
		<h3>Links:-</h3>
		<p>Please visit our links<br>this links helps to<br> know more about me
		</p>
		<div class="links">
			<a href="https://www.linkedin.com/in/aashish-kumar-1a20a2278/" class="fa fa-linkedin-square" ></a>
			<!-- <a href="" class="fa fa-twitter" ></a> -->
			<a href="https://www.instagram.com/hiaashish_83/" class="fa fa-instagram" ></a>
			<a href="https://www.youtube.com/channel/UCdwihC15_IjTPcyujhhbKDw" target="_blank" class="fa fa-youtube"></a>
		</div>
	</div>
	<div class="boxes">
		<h3>Links</h3>
			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="{% url 'about_me' %}">About us</a></li>
			<li><a href="{% url 'skill' %}">Skills</a></li>
			<li><a href="{% url 'contact' %}">Contact us</a></li>
	</div>
	<div class="boxes">
		<h3>Services</h3>
		<li>Web Design</li>
		<li>Web Development</li>
		<li>youtube(Education channel)</li>
		<li></li>
	</div>
</div>
