

{% include "header.html" %}
	<div class="wrapper">
		<div class="cols cols0">
		<span class="topline">hello</span>
		<h1>I'm <span class="multitext"> Developer</span></h1>
		<p>My name is Aashish kumar. I am a student of BCA from cimage college and now i am looking for new job opportunities to grow my skills in field of IT sector .</p>
			<div class="btns">
				<button><a href="/static/all files/RESUME AASHISH updated 2024.pdf" download="/static/all files/aashish resume 2024.pdf">download</a></button>
				<button><a href="https://mail.google.com/mail/u/0/#inbox"> hire me </a></button>
			</div>
		</div>

		<div class="cols1">
			<div class="imgbox" >
				<img src="/static/image/img2.png">
			</div>
		</div>
	</div>
</div>
<div class="about_container">
	<div class="about_section1">
		<img src="/static/image/aashish photo.jpeg">
	</div>
	<div class="about_section2">
		<h2>About me</h2>
		<p>
		I am a BCA student with a passion for technology. I am always eager to learn new things and I am always looking for ways to apply my skills to make a difference in the world.

		I am currently studying at Aryabhatta Knowledge University, where I am majoring in Computer Science. I am also a member of the [Flipkart Grid 2.0] club, where I participate in hackathons and other events to develop my technical skills.

		In my spare time, I enjoy reading about technology(Chat Gpt, AI, Bard, Blockchain Technology, Cloud Computing), playing cricket, listening to music, and spending time with my family and friends. I am also a big fan of Google and I dream of one day working for the company.
		</p>
	</div>
</div>

<span id="skill_section">Skill</span>
<div class="skill_container">
	<!--web development box-->

	<div class="item">
		<div class="img_container"> 
			<img src="/static/image/html.png" >
			<img src="/static/image/CSS-3.png" >
			<img src="/static/image/js.png" >
		</div>
		<div class="title">
			<span>HTML</span>
			<span>CSS</span>
			<span>JAVA.S</span>
		</div>
		<div class="des">
			Hello everyone i have completed my web development front end with HTML,CSS and JAVASCRIPT.But i am wrorking on backend development thank you.
		</div>
		<div class="inner_skill">Web development</div>
	</div>

	<!--app development box-->

	<div class="item">
		
		<div class="img_container"> 
			<img src="/static/image/android.png" >
		</div>

		<div class="title">
			<span>App development</span>
		</div>

		<div class="des">
			Hello everyone i have completed my App development with making a lots of project on it.i have completed my android course with JAVA language.
		</div>
		<div class="inner_skill">App development</div>
	</div>

	<!--python box-->
	<div class="item">

		<div class="img_container"> 
			<img src="/static/image/python.png" >
		</div>

		<div class="title">
			<span>Python</span>
		</div>

		<div class="des">
			Hello everyone, Python is most popular as you know for every field so it is my highly professional language and full command on this language. I want to work with it officially. 
		</div>
		<div class="inner_skill">Python</div>
	</div>

	<!----c language-------->
	<div class="item">
		<div class="img_container"> 
			<img src="/static/image/c.png" >
		</div>

		<div class="title">
			<span>C</span>
		</div>

		<div class="des">
			C language basically first stage to teach how our machine work with less memory consumption. This language is give more knowledge about the memory management, so it is interesting language. 
		</div>
		<div class="inner_skill">C</div>
	</div>
	<!----c language---->
	<div class="item">

		<div class="img_container"> 
			<img src="/static/image/c++.png" >
		</div>

		<div class="title">
			<span>C++</span>
		</div>

		<div class="des">
			It is advance version of C language and in this language we learn object oriented concept. Real world entity concept place in this language.
		</div>
		<div class="inner_skill">C++</div>
	</div>
	<!----c++ language---->
	<div class="item">
		<div class="img_container"> 
			<img src="/static/image/java.png" >
		</div>

		<div class="title">
			<span>java</span>
		</div>

		<div class="des">
			It is said to be Pure Object Oriented programming language.I am working on it and it is helpful to learn App development easily with Java.
		</div>
		<div class="inner_skill">Java</div>
	</div>
</div>

<span id="project_h1">Project</span>
<div class="main_project">
	<div class="inner_project">
		<img src="/static/image/landing2.png">
		<div class="content">
			<h3>Landing Page</h3>
			<p>
				In this Landing page i have created Header section, middle section and footer section. In this page i have used HTML and CSS.
			</p>
		</div>
	</div>	
	<div class="inner_project">
		<img src="/static/image/portfolio2.png">
		<div class="content">
			<h3>Portfolio Page</h3>
			<p>This is my project of Portfolio page in this i have included my Name, picture, About me, skills, project and and in the footer i include contact us .</p>
		</div>
	</div>	
	<div class="inner_project">
		<img src="/static/image/calculator.png">
		<div class="content">
			<h3>Calculator Page</h3>
			<p>This calculator made with using HTML,CSS and JAVASCRIPT and caluculator perform work like addition, subtrction, multiplication and division etc.</p>
		</div>
	</div>	
	<div class="inner_project">
		<img src="/static/image/tribute.png">
		<div class="content">
			<h3>Tribute Page</h3>
			<p>This page about to describe in brief of any legend or famous person. so i discuss about MS Dhoni.</p>
		</div>
	</div>	
	<div class="inner_project">
		<img src="/static/image/travel.png">
		<div class="content">
			<h3>Flight Booking Page</h3>
			<p>In this project i have included the flight booking page and connected with database to store the information about person to where to where go in the country.</p>
		</div>
	</div>	
</div>

{% include "footer.html" %}