{% include "header.html" %}
<span id="project_h1">Project</span>
<div class="main_project">
	<div class="inner_project">
		<img src="/static/image/landing2.png">
		<div class="content">
			<h3>Landing Page</h3>
			<p>In this Landing page i have created Header section, middle section and footer section. In this page i have used HTML and CSS.</p>
		</div>
	</div>	

	<div class="inner_project">
		<img src="/static/image/portfolio2.png">
		<div class="content">
			<h3>Portfolio Page</h3>
			<p>This is my project of Portfolio page in this i have included my Name, picture, About me, skills, project and and in the footer i include contact us .</p>
		</div>
	</div>	
	<div class="inner_project">
		<img src="/static/image/calculator.png">
		<div class="content">
			<h3>Calculator Page</h3>
			<p>This calculator made with using HTML,CSS and JAVASCRIPT and caluculator perform work like addition, subtrction, multiplication and division etc.</p>
		</div>
	</div>	
	<div class="inner_project">
		<img src="/static/image/tribute.png">
		<div class="content">
			<h3>Tribute Page</h3>
			<p>This page about to describe in brief of any legend or famous person. so i discuss about MS Dhoni.</p>
		</div>
	</div>	
	<div class="inner_project">
		<img src="/static/image/travel.png">
		<div class="content">
			<h3>Flight Booking Page</h3>
			<p>In this project i have included the flight booking page and connected with database to store the information about person to where to where go in the country.</p>
		</div>
	</div>	
</div>
{% include "footer.html" %}