{% include "header.html" %}
<span id="skill_section">Skill</span>
<div class="skill_container">
  <!--web development box-->

  <div class="item">
    <div class="img_container">
      <img src="/static/image/html.png" />
      <img src="/static/image/css-3.png" />
      <img src="/static/image/js.png" />
    </div>
    <div class="title">
      <span>HTML</span>
      <span>CSS</span>
      <span>JAVA.S</span>
    </div>
    <div class="des">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam,.
    </div>
    <div class="inner_skill">Web development</div>
  </div>

  <!--app development box-->

  <div class="item">
    <div class="img_container">
      <img src="/static/image/android.png" />
    </div>

    <div class="title">
      <span>App development</span>
    </div>

    <div class="des">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam,.
    </div>
    <div class="inner_skill">App development</div>
  </div>

  <!--python box-->
  <div class="item">
    <div class="img_container">
      <img src="/static/image/python.png" />
    </div>

    <div class="title">
      <span>Python</span>
    </div>

    <div class="des">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam,.
    </div>
    <div class="inner_skill">Python</div>
  </div>

  <!----c language-------->
  <div class="item">
    <div class="img_container">
      <img src="/static/image/c.png" />
    </div>

    <div class="title">
      <span>C</span>
    </div>

    <div class="des">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam,.
    </div>
    <div class="inner_skill">C</div>
  </div>
  <!----c language---->
  <div class="item">
    <div class="img_container">
      <img src="/static/image/c++.png" />
    </div>

    <div class="title">
      <span>C++</span>
    </div>

    <div class="des">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam,.
    </div>
    <div class="inner_skill">C++</div>
  </div>
  <!----c++ language---->
  <div class="item">
    <div class="img_container">
      <img src="/static/image/java.png" />
    </div>

    <div class="title">
      <span>java</span>
    </div>

    <div class="des">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam,.
    </div>
    <div class="inner_skill">Java</div>
  </div>
</div>

{% include "footer.html" %}
