.skill_container {
  margin: 0px auto;
  width: 65%;
  height: 70%;
  background-color: #f3f5f8;
  display: flex;
  justify-content: space-around;
  /*border: 2px solid black;*/
  flex-wrap: wrap;
}
#skill_section {
  font-size: 50px;
  font-weight: bold;
  font-family: "poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #3d535f;
  cursor: pointer;
  text-align: center;
  display: block;
}
.item {
  height: 300px;
  width: 250px;
  border: 1px solid red;
  margin: 25px;
  border-radius: 20px;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 0px;
}
.inner_skill {
  position: absolute;
  height: 50px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -20px;
  left: 30px;
  border-radius: 30px;
  background-color: #c4b2cf;
  font-weight: bold;
}
.img_container img {
  height: 80px;
  width: 80px;
}
.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 10px;
  justify-content: center;
}
.title {
  font-weight: bold;
  width: 100%;
  display: flex;
  font-family: Cascadia Code;
  justify-content: space-around;
}
.des {
  margin: 20px;
  text-align: left;
}
